* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: "Microsoft YaHei" !important;
	min-width: 1000px;
	overflow-x: hidden;
}

/*nav*/
.header {
	width: 1000px;
	height: 60px;
	min-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.triangle {
	background-image: url(../images/triangle.png);
    height: 8px;
    width: 8px;
    display: inline-block;
    margin-left: 3px;
}
.mainheader {
	border-bottom: 1px #efefef solid;
}

.mainnav {
	width: 706px;/*兑换入口添加后的style
	/*width: 600px;*/
	float: right;
}


.mainnav li span {
	width: 30px;
    line-height: 18px;
    display: inline-block;
    color: #ddd;
    position: relative;
    top: 7px;
    left: 3px;
    font-size: 12px;
}

.mainnav li img {
	position: relative;
	top: 8px;
}


.mainnav .subnav {
	display: none;
	width: 160px;
	background-color: #fff;
	-moz-box-shadow: 2px 2px 6px #999;
	*border: 1px solid #efefef;
	box-shadow: 2px 2px 6px #999;
	position: absolute;
	z-index: 80;	/* left: 470px; */
}

.mainnav .subnav li {
	width: 160px;
	height: 40px;
}

.mainnav .subnav li:hover {
	background: #337ab7;
	transition-duration: .3s;
	-moz-transition-duration: .3s;
	-webkit-transition-duration: .3s;
}



.mainnav .subnav li:hover a {
	color: #efefef;
}

.mainnav .subnav li a {
	display: block;
	color: #666;
	line-height: 40px;
}

.logo-header {
	width: 100px;
	height: 60px;
	float: left;
}

.logo-header img {
	margin-top: 8px;
}

.mainnav li {
	width: 100px;
	float: left;
	line-height: 60px;
	list-style: none;
}

.mainnav li:hover {
	background-color: #efefef;
	transition-duration: .3s;
	-moz-transition-duration: .3s;
	-webkit-transition-duration: .3s;
}

.mainnav #card:hover {
	background-color: #fff;
}
.mainnav #card {
	margin-left: 6px;
}

.mainnav #card a {
	cursor:pointer;
}

.mainnav li:hover .subnav {
	display: block;
}

.active {
	background-color: #337ab7;
}

.active:hover .subnav a {
	color: #666;
}

.mainnav li.active:hover {
	background-color: #337ab7;
}

.mainnav li.active a {
	color: #fff;
}

.mainnav li a {
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	display: block;
	color: #666;
}

/*banner*/

/*½¹µãÍ¼*/

.focus {
	position: relative;
	width: 660px;    /*height: 380px;*/

	/*background-color: #000;*/
	float: left;    /*height: 710px;*/
	margin-bottom: 20px;
	width: 100%;
}

.focus .shadow .title {
	width: 260px;
	height: 65px;
	padding-left: 30px;
	padding-top: 20px;
}

.focus .shadow .title a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: bolder;
	overflow: hidden;
}

.focus .btn {
	position: absolute;
	bottom: 34px;
	left: 510px;
	overflow: hidden;
	zoom: 1;
}

.focus .btn a {
	position: relative;
	display: inline;
	width: 13px;
	height: 13px;
	border-radius: 7px;
	margin: 0 5px;
	color: #B0B0B0;
	font: 12px/15px "\5B8B\4F53";
	text-decoration: none;
	text-align: center;
	outline: 0;
	float: left;
	background: #D9D9D9;
}

.focus .btn a:hover,
.focus .btn a.current {
	cursor: pointer;
	background: #fc114a;
}

.focus .fPic {
	position: relative;
	left: 0px;
	top: 0px;
}

.focus .D1fBt {
	overflow: hidden;
	zoom: 1;
	height: 16px;
	z-index: 10;
}

.focus .shadow {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0px;
	z-index: 10;
	height: 80px;
	line-height: 80px;
	background: rgba(0, 0, 0, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#80000000', endColorstr='#80000000')\9;
	display: block;
	text-align: left;
}

.focus .shadow a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	overflow: hidden;
	margin-left: 10px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
}

.focus .fcon {
	position: relative;
	float: left;
	display: none;
	background: #000
}

.focus .fcon img {
	display: block;
	width: 100%;
}

.clear {
	zoom: 1;
}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.focus .fbg {
	bottom: 25px;
	left: 46%;
	position: absolute;
	height: 21px;
	text-align: center;
	z-index: 200;
}

.focus .fbg div {
	margin: 4px auto 0;
	overflow: hidden;
	zoom: 1;
	height: 14px
}

.focus .D1fBt a {
	position: relative;
	display: inline;
	width: 12px;
	height: 12px;
	border-radius: 7px;
	margin: 0 5px;
	color: #B0B0B0;
	font: 12px/15px "\5B8B\4F53";
	text-decoration: none;
	text-align: center;
	outline: 0;
	float: left;
	background: #D9D9D9;
}

.focus .D1fBt .current,
.focus .D1fBt a:hover {
	background: #fc114a;
}

.focus .D1fBt img {
	display: none
}

.focus .D1fBt i {
	display: none;
	font-style: normal;
}

.focus .prev,
.focus .next {
	position: absolute;
	width: 40px;
	height: 74px;
	background: url(../images/focus_btn.png) no-repeat;
}

.focus .prev {
	top: 50%;
	margin-top: -37px;
	left: 20px;
	background-position: 0 -74px;
	cursor: pointer;
}

.focus .next {
	top: 50%;
	margin-top: -37px;
	right: 20px;
	background-position: -40px -74px;
	cursor: pointer;
}

.focus .prev:hover {
	background-position: 0 0;
}

.focus .next:hover {
	background-position: -40px 0;
}

/*banner end*/
.footer {
	position: relative;
	z-index: 50;
	width: 1000px;	/*height: 100px;*/
	max-width: 1000px;
	margin: 0 auto;
}

.wrapper {
	position: relative;
	width: 100%;
}

.footer .left-ft span {
	color: #817c7b;
	font-size: 13px;
}

.footer li {
	list-style: none;
	font-size: 13px;
	float: left;
	color: #817c7b;
}

.footer .left-ft {
	width: 600px;
	float: left;
}

.footer .left-ft .nav-ft {
	width: 600px;
	height: 15px;
}

.footer .left-ft .nav-ft li {
	float: left;
	margin-right: 8px;
	padding-right: 8px;
	line-height: 15px;
	font-size: 13px;
	border-right: 1px solid #ccc;
}

.footer .left-ft .nav-ft li:last-child {
	border-right: none;
}

.footer .left-ft .nav-ft li a {
	text-align: center;
	line-height: 15px;
	text-decoration: none;
	color: #817c7b;
}

.footer .left-ft .nav-ft li:hover a {
	color: #f6a60d;
	text-decoration: underline;
}

.footer .right-ft {
	width: 250px;
	float: right;
	margin-right: 18px;
}

.footer .right-ft li {
	width: 90px;
	float: left;
	margin-top: 10px;
}

.footer .right-ft li a {
	text-decoration: none;
	font-size: 13px;
	color: #817c7b;
}

.footer .right-ft li a img {
	margin-right: 6px;
}

.footer .right-ft span {
	float: right;
	margin-top: -36px;
	*margin-top: -66px;
	*margin-left: 84px;
}

.footer .right-ft li:last-child {
	display: block;
}

/*ex*/
.img-ex {
	background-image: url(../images/ex.jpg);
	height: 657px;
	background-position: center;
	width: 100%;
}

.banner-ex {
	position: relative;
}

.return-button {
	width: 120px;
	height: 30px;
	margin: 0 auto;
	background-color: #337ab7;
	padding: 10px;
	border-radius: 4px;
	margin-top: 15px;
	margin-bottom: 50px;
}

.return-button a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	display: block;
	text-align: center;
}

/*technology*/
.banner-tech {
	background-image: url(../images/technology/tech-2-bg.png);
	background-position: center;
	height: 598px;
	width: 100%;
	margin: 0 auto;
}

.text-tech {
	width: 600px;
	margin: 0 auto;
	padding-top: 100px;
}

.text-tech p {
	font-size: 36px;
	color: #fff;
	text-align: center;
	padding-top: 10px;
}

.text-tech p a {
	font-size: 24px;
	padding: 6px;
	padding-right: 30px;
	padding-left: 30px;
	color: #fff;
	border: 2px #fff solid;
	text-decoration: none;
}

.text-tech p a:hover {
	color: #337ab7;
	border: 2px #337ab7 solid;
}

.line-tech {
	margin-top: 50px;
	margin: 0 auto;
	text-align: center;
}

.line-tech img {
	width: 100%;
}

.line-tech p {
	font-size: 20px;
	color: #666;
}

.download-tech {
	width: 950px;
	height: 150px;
	margin: 0 auto;
	margin-top: 40px;
}

.download-tech ul {
	list-style: none;
	width: 950px;
}

.download-tech ul li {
	width: 190px;
	float: left;
	font-size: 18px;
	color: #666;
}

.download-tech ul li p {
	margin-left: 60px;
	margin-top: -50px;
}

.download-tech ul li a {
	font-size: 14px;
	color: #337ab7;
	text-decoration: none;
	margin-left: 60px;
	margin-top: -2px;
	display: block;
}

.download-tech ul li a:hover {
	color: #f6a60d;
	text-decoration: underline;
}

/*about-passion*/
.passion-1 {
	background-image: url(../images/about-1.jpg);
	height: 940px;
	background-position: center;
}

.passion-2 {
	background-image: url(../images/about-2.png);
	height: 724px;
	background-position: center;
	position: relative;
}

.passion-3 {
	background-image: url(../images/about-3.jpg);
	height: 887px;
	background-position: center;
}

.passion-4 {
	background-image: url(../images/about-4.jpg);
	height: 1171px;
	background-position: center;
	margin-bottom: 60px;
	position: relative;
}

.tpassion-1 {
	width: 775px;
	margin: 0 auto;
	padding-top: 80px;
}

.tpassion-1 p {
	font-size: 14px;
	line-height: 27px;
	color: #333;
}

.tpassion-1 img {
	margin-left: 710px;
	margin-top: -100px;
}

.title-passion-1 {
	width: 210px;
	margin: 0 auto;
	padding-top: 94px;
}

.title-passion-1 h2 {
	font-size: 36px;
	color: #333;
	font-weight: normal;
}

.title-passion-1 h3 {
	font-size: 26px;
	color: #333;
	font-weight: normal;
	margin-top: 11px;
	margin-left: 28px;
}

.title-passion-1 img {
	margin-left: -40px;
	padding-right: 24px;
	padding-top: 10px;
}

.passion-2 p {
	width: 100%;
	font-size: 26px;
	color: #333;
	margin-left: 253px;
	padding-top: 100px;
	position: absolute;
	left: 50%;
}

.title-passion-2 {
	width: 345px;
	margin: 0 auto;
	padding-top: 62px;
}

.title-passion-2 h2 {
	font-size: 36px;
	color: #333;
	font-weight: normal;
}

.title-passion-2 h3 {
	font-size: 26px;
	color: #333;
	font-weight: normal;
	margin-top: 11px;
	margin-left: 86px;
}

.title-passion-2 img {
	margin-left: -40px;
	padding-right: 24px;
	padding-top: 10px;
}

.title-passion-3 {
	width: 458px;
	margin: 0 auto;
	padding-top: 170px;
}

.title-passion-3 h2 {
	font-size: 36px;
	color: #333;
	font-weight: normal;
}

.title-passion-3 h3 {
	font-size: 26px;
	color: #333;
	font-weight: normal;
	margin-top: 11px;
	margin-left: 33px;
}

.title-passion-3 img {
	margin-left: -40px;
	padding-right: 24px;
	padding-top: 10px;
}

.passion-4-list {
	width: 300px;
	margin-left: 67%;
	margin-top: 130px;	/* position: relative; */
}

.passion-4-list ul {
	list-style: disc;
	position: absolute;
	left: 50%;
	margin-left: 250px;
}

.passion-4-list ul li {
	color: #666;
	font-size: 14px;
	margin-bottom: 10px;
}

/*about-road*/
.img-road {
	background-image: url(../images/road.jpg);
	height: 1192px;
	background-position: center;
	width: 100%;
	margin-bottom: 80px;
}

/*about-cult*/
.img-cult {
	background-image: url(../images/cult.jpg);
	height: 710px;
	background-position: center;
	width: 100%;
	margin-bottom: 40px;
}

/*about-contact*/
.about-contact {

	/* height: 500px; */
	background-color: #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	margin-bottom: 50px;
}

.contact-content {
	width: 950px;
	margin: 0 auto;
}

.contact-right {
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #fff;	/* padding: 4px; */
}

.contact-left {
	width: 400px;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 100px;
}

.contact-left strong {
	color: #666666;
	font-size: 16px;
}

.contact-left ul {
	list-style: none;
}

.contact-left li {
	color: #2391e1;
	font-size: 15px;
	line-height: 46px;	/* position: relative; */
}

.contact-left ul li img {
	padding-right: 15px;
	position: relative;
	top: 5px;
}

.contact-left li a {
	color: #2391e1;
}

.contact-left span {
	color: #666;
}

.contact-left h1 {
	font-weight: normal;
	font-size: 25px;
	color: #337ab7;
	margin-bottom: 18px;
	margin-top: 77px;
}

/*hire*/
.img-hire {
	/*background-color: #F2F2F2;	*/
	background-image: url(../images/hire.jpg) ;
	background-repeat: no-repeat;
	background-position: center;
	height: 287px;
	width: 100%;
}

.content-hire {
	border-bottom: 1px solid #ccc;
	height: 336px;
}

.hire-tabs {
	width: 330px;
	margin: 0 auto;
}

.hire-tabs ul {
	float: left;
	list-style: none;
}

.hire-tabs ul li {
	float: left;
	width: 165px;
	text-align: center;
	font-size: 15px;
	color: #666;
	margin-top: 20px;
	cursor: pointer;
	display: block;	
}

.product-tabs ul.tabs li {
	width: 110px;
}

.hire-tabs-body {
	margin-bottom: 100px;
}

.pay-hire {
	background-image: url(../images/pay.jpg);
	height: 971px;
	background-position: center;
	width: 100%;
	margin-top: 15px;
}

.table-hire {
	width: 1000px;
	margin: 0 auto;
	border-spacing: 0px;
	margin-top: 40px;
	background-color: #fff;
}

.table-hire tr {
	height: 60px;
	padding: 0;
	cursor: pointer;
}

.table-hire tr:first-child {
	font-weight: bold;
	font-size: 18px;
	background-color: transparent;
	cursor: inherit;
}

.table-hire tr:nth-of-type(2n+1) {
	background-color: rgba(204, 204, 204, 0.18);
	background-color: #f5f5f5/9;
}

.tbale-hire tr.even{
    background:red;
}

.table-hire tr:hover {
	background-color: #cddeed;
}

.table-hire tr.job-case:hover {
	background-color: rgba(51, 122, 183, 0.24);
}

.table-hire tr.job-case:first-child:hover {
	background-color: rgba(204, 204, 204, 0.18);
}

tr.job-case td {
	padding-left: 130px;
}

tr.job-case td span {
	color: #666;
}

.active-product {
	border-bottom: 3px solid #337ab7;
	padding-bottom: 9px;
}

.pop-case {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	-pie-background: rgba(0, 0, 0, .5);/*IE6-8*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4B000000, endColorstr=#4B000000);
	background-size: cover;
	z-index: 51;
	  overflow: auto;
}

.pop-case div {
	position: relative;
	width: 650px;
	margin: 0 auto;
	margin-top: 100px;
	background-color: #fff;
	border-radius: 8px;
	padding: -2px;
	padding: 45px
}

.pop-case div.welfare {
	padding: 0px;
	margin-top: 10px;
}

.pop-case div.welfare p {
	text-align: center;

}

.pop-case div p {
	color: #666;
	margin-top: -3px;
	font-weight: normal;
	font-size: 15px;
	line-height: 40px;
}

.pop-case div h5 {
	font-size: 15px;
	color: #000;
	margin-bottom: 5px;
	margin-top: 30px;
}

.pop-case div h4 {
	text-align: center;
	margin-bottom: -10px;  /* margin-top: 0px; */
	margin-bottom: 35px;
	font-size: 18px;
	font-weight: bold;
	color: #666;/*  border-bottom: 1px solid #ccc;
	  padding-bottom: 20px;*/
}

.pop-case span.close-pop-case {
	z-index: 100;
	position: absolute;
	top: 45px;
	right: 45px;
	color: #FA8C0F;
}

/*privacy*/
.privacy-tabs {
	width: 1000px;
	margin: 0 auto;
}

.privacy-tabs ul {
	list-style: none;
	width: 160px;
	display: inline-block;
	margin-top: 45px;
	border: 1px solid #ccc;
}

.privacy-tabs ul li {
	cursor: pointer;	/* margin-bottom: 20px; */
	height: 40px;
	text-align: center;
	line-height: 42px;
}

.privacy-tabs ul li:hover {
	background-color: #efefef;
	color: #000;
}

.privacy-tabs-body {
	width: 792px;
	margin: 0 auto;
	padding-left: 348px;	/* float: right; */
	margin-bottom: 100px;	/* border-left: 1px solid #ccc; */
	padding-left: 176px;
	margin-top: -85px;
}

.privacy-tabs-body p {
	font-size: 14px;
	color: #666;
	line-height: 24px;
	text-align: justify;
}

.privacy-tabs-body h3 {
	font-weight: bold;
	color: #3b3b3b;
	font-size: 24px;
}

.privacy-tabs-body h4 {
	color: #3b3b3b;
	font-size: 18px;
	font-weight: bold;
	padding-top: 15px
}

.privacy-tabs-body h5 {
	font-size: 16px;
	color: #000;
	padding-top: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}

.privacy-tabs-body ul {
	list-style: disc;
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 14px;
	color: #666;
	line-height: 24px;
	text-align: justify;
	padding-left: 40px;
}

.privacy-tabs-body div {
	border-left: 1px solid #ccc;
	padding-left: 40px;
}

.active-privacy {
	background-color: #337ab7;
	height: 20px;
	color: #fff;
}

.product-all:first-child {
	display: block;
}

.allproduct {
	display: block;
	width: 956px;
	margin: 0 auto;
}

.product-all {
	display: none;
}

.privacy-all:first-child {
	display: block;
}

.privacy-all {
	display: none;
}

/*product-all*/
.product-all ul {
	list-style: none;
	width: 996px;
	float: left;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.product-pic {
	width: 956px;
	margin: 0 auto;
}

#pro-pic li img {
	width: 95%;
	margin: 0 auto;
}

.product-tabs-body {
	width: 1000px;
	margin: 0 auto;
}

.product-all ul li {
	width: 290px;
	height: 300px;
	float: left;
	margin-bottom: 40px;
	border: 1px solid #ccc;
	margin-right: 40px;
}

.product-all ul li {
	cursor: pointer;
}

.product-all ol {
	margin-left: 42px;
}

.product-all ol li {
	text-align: left;
	margin-bottom: 10px;
}

.product-all ul span {
	background-color: #337ab7;
	width: 100px;
	display: block;
	height: 30px;
	margin: 0 auto;	/* margin-bottom: -7px; */
	margin-top: 15px;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	color: #fff;
}

.product-all ul li img {
	margin: 0 auto;
	display: block;
}

.product-all ul li p {
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	color: #666;
}

.tab-pane {
	text-align: left;	/*width: 850px;*/
	margin: 0 auto;
	float: left;
	width: 475px;
	margin-left: 50px;
	list-style: none;
}

.tab-pane h4 {
	color: #4fb1f7;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 5px;
}

.tab-border {
	border-bottom: 1px solid #ddd;
}

#chengxu {
	margin-bottom: 80px;
}

.tab-pane p {
	display: none;
	font-size: 14px;
	color: #999;
	margin-left: 5px;
	width: 410px;	/*border: 1px solid #ddd;*/
	padding: 5px;
	line-height: 25px;
}

ul#ProductProblem {
	width: 1050px;
}

.p-click {
	margin-top: 10px;
	cursor: pointer;
}

.tab-pane span {
	font-size: 16px;
	color: #333;
	font-weight: bold;
}

span.glyphicon.glyphicon-stop {
	border-radius: 100px;
	width: 6px;
	height: 6px;
	background-color: #616161;  /* display: block; */
	float: left;
	position: relative;
	top: 7px;
	right: 10px;
}

/*ws215e*/
.img-ws215 {
	background-color: #ccc;
	width: 100%;
}

.ws215-tabs {
	width: 1000px;
	height: 50px;
	margin: 0 auto;	/* padding-right: 600px; */
}

.ws215-tabs ul {
	position: relative;
	list-style: none;
	left: 0;
}

.ws215-tabs ul li {
	float: left;
	width: 110px;
	text-align: center;
	font-size: 15px;
	color: #666;
	margin-top: 20px;
	cursor: pointer;	/* height: 30px; */
	display: block;	/* height: 21px; */
}

.img-ws215 {
	background-color: #f6f6f6;
	width: 100%
}

.ws215-tabs ul li:nth-child(4) {
	margin-left: 320px;
}

.ws215-tabs ul .productdown {
	margin-left: 320px\9;/* 所有IE浏览器(ie6+)支持 ；*/
}

.img-ws215 .content-pro {
	width: 1000px;    /* background-color: #f6f6f6; */
	margin: 0 auto
}

.img-ws215 .content-pro .right {
	margin-top: -355px;
	margin-left: 535px;
	padding-bottom: 30px;
}

.img-ws215 .content-pro .right h1 {
	font-weight: normal;
	color: #666
}

.img-ws215 .content-pro .right h4 {
	font-size: 20px;
	color: #75ca0d;
	font-weight: normal;
	margin-bottom: 20px
}

.img-ws215 .content-pro .right p {
	font-size: 14px;
	color: #666;
	line-height: 25px
}

.img-ws215 .content-pro .right ul {
	display: block;
	list-style: none;
	height: 60px
}

.img-ws215 .content-pro .right ul li {
	width: 60px;
	float: left
}

.img-ws215 .content-pro .right .buy li {
	width: 115px;
	background-color: #fff;
	border: 1px solid #ccc;
	margin-right: 30px;
	border-radius: 4px
}

.img-ws215 .content-pro .right .buy li a img {
	width: 100%;
}

.img-ws215 .content-pro .right .pan li {
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 30px;
	text-align: center;
	font-size: 14px;
	padding: 6px;
	margin-top: 25px
}

.img-ws215 .content-pro .right .color li {
	width: 85px;
	font-size: 14px;
	position: relative;
	left: 12px;
	top: 12px
}

.img-ws215 .content-pro .right .color li img {
	border-radius: 100px;
	position: relative;
	top: 5px;
	right: 10px;
	border: 1px solid #ccc;
}

.img-ws215 .content-pro .left {
	width: 400px;
	padding-top: 45px;
	margin-left: 100px;
}

.left img {
	width: 85%;
}

.Productsummry {
	width: 1000px;
	margin-top: 170px;
	text-align: center;
	margin-bottom: 60px;
}

.Productsummry h2 {
	margin-top: 30px;
	color: #00569f;
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 30px;
}

.Productsummry h3 {
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 24px;
	color: #666;
}

div.Productsummry p {
	color: #999;
	width: 850px;
	margin: 0 auto;
	line-height: 30px;
	font-size: 14px;
}

.hire-tabs-body {
	margin-bottom: 30px;
}

.Productsummry .Product:first-child {
	display: block;
}

.Productsummry img {
	margin-bottom: 20px;
}

.Productsummry .Product {
	display: none;
}

.Product-tabs {
	margin-top: 30px;
	margin-bottom: 20px;
}

.Product {
	text-align: justify;
}

.Product-tabs a {
	text-decoration: none;
	width: 60px;
	height: 20px;
	text-align: center;
	border: 1px solid #ccc;
	padding: 15px;
}

a.Pro-active {
	color: #fff;
	background-color: #337ab7;
	border: 1px solid #337ab7;
}

.Pro-table {
	border: 1px solid #ccc;
	font-size: 13px;
	color: #666;
	text-align: justify;
	border-spacing: 0px;
	width: 1000px;
	display: block;
	overflow: hidden;
}

.Pro-table th {
	text-align: left;
	background-color: #ebf2f8;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 50px;
}

.Pro-table tbody tr {
	height: 35px;
	border-bottom: 1px solid #ccc;
}

.Pro-table td {
	padding-left: 50px;
	  /*padding-right: 463px;*/
	border-bottom: 1px solid #ededed;
	line-height: 35px;
	width: 100%;
}


.Pro-table .table-bgc {
	border-right: 1px solid #ccc;
	padding-right: 14px;
	padding-left: 50px;
	width: 200px;
	height: 35px;  /*display: inline-block;*/
	float: left;
	line-height: 35px;
}

.Pro-table .moreline {
	padding-bottom: 55px;
}

.Pro-table thead th {
	padding-left: 50px;
	font-size: 16px;
}

table.trans-table {
	width: 800px;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-bottom: none;
	border-right: none;
	font-size: 13px;
}

table.trans-table td {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

caption {
	margin-bottom: 15px;
	font-size: 15px;
}

table.trans-table .table-bgc,
.table-bgc1 {
	background-color: #f2f2f2;	  /*width: 10px;*/
}

.test {
	text-align: left;
}

.xiao-neng .test ul {
	margin: 0 auto;
	padding-left: 30px;
	margin-bottom: 20px
}

.xiao-neng .test ul li {
	font-size: 13px
}

.xiao-neng .test h4 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 30px;
	font-size: 24px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ccc
}

.xiao-neng .test p {
	font-size: 14px;
	margin-bottom: 0;
	color: #000
}

.xiao-neng .tubiao {
	margin-left: 280px;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 40%
}

.xiao-neng .tubiao #canvas8,
.xiao-neng .tubiao #canvas9 {
	margin-left: -70px
}

.xiao-neng .tubiao p {
	color: #337ab7
}

.xiao-neng .tubiao ul {
	list-style: none;
	width: 200px;
	margin-left: 130px;
	margin-bottom: 100px
}

.xiao-neng .tubiao ul li {
	float: left;
	margin-right: 20px;
	margin-top: 20px
}

.xiao-neng .tubiao ul li img {
	margin-right: 5px;
	width: 10px;
	height: 10px;
	border: none
}

.xiao-neng .tubiao ul li .r {
	background-color: rgba(6, 87, 181, 0.65)
}

.xiao-neng .tubiao ul li .w {
	background-color: rgba(247, 140, 48, 0.92)
}

.xiao-neng .table {
	width: 800px;
	margin: 0 atuo;
	border-bottom: none;
	border-right: none;
	text-align: center
}

.xiao-neng .table caption {
	font-size: 15px;
	color: #000;
	text-align: center;
	margin-bottom: 5px
}

.xiao-neng .table .table-bgc,
.xiao-neng .table .table-bgc1 {
	background-color: #f2f2f2
}

.xiao-neng .table .table-bgc {
	width: 120px
}

.xiao-neng .table tbody td {
	border-right: 1px solid #ccc
}

div.wrap {
	position: relative;
	bottom: 710px;
	background-color: transparent;
}

.float-side {
  display: block;
  position: fixed;
  font-size: 30px;
    width: 1000px;
  margin-left: 470px;
  bottom: 90px;
  z-index: 202;
}

.float-side a {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	margin-bottom: 8px;
	margin-top: 8px;
	cursor: pointer;
	line-height: 0;  
	background-image: url(../images/to-top.png);
}

li.baidu a img {
  height: 15px;
  width: 15px;
}

.footer .left-ft .nav-ft li.baidu {
  border-right: none;
}


.wisnuc1 {
    height: 205px;
}
/*@media screen and (max-width:1024px) {
   .main-content .main-right .footOpertion {
    	height: 60px;
    	line-height: 60px;
    }
}*/