<!--include "public/header.html"-->
    <!-- 主体部分 -->
    <div class="passion">
        <div class="passion-1">
            <div class="tpassion-1">
                <p>伴随着智能终端的高速发展与快速普及，家庭个人用户的数据增量极速增加，同时该等数据资产也分散
                </p>
                <p>于家庭成员的各个终端。针对家庭数据资产的安全、私密、多平台访问、统一管理等需求愈发显现。<img src="images/passion.png"></p>
                <p>上海闻上信息科技有限公司（“闻上科技”）是一家专注于智慧家庭数据中心解决方案的综合性高速发展的科技型企业。产</p>
                <p>品以安全、私密作为市场切入点，云系统实现多平台访问与统一管理作为产品根基，围绕智慧家庭数据中心之多扩展的特性，</p>
                <p>逐步开发多系列、跨技术领域的产品以满足不同家庭用户需求。</p>
                <div class="title-passion-1">
                    <h2><img src="images/title1.png">简单&nbsp易用</h2>
                    <h3>将体验做到极致</h3>
                </div>
            </div>
        </div>
        <div class="passion-2">
            <p>多平台&nbsp互联互通</p>
        </div>
        <div class="passion-3">
            <div class="title-passion-2">
                <h2><img src="images/title2.png">高端配置&nbsp发烧体验</h2>
                <h3>高性价比&nbsp亲民实价</h3>
            </div>
        </div>
        <div class="passion-4">
            <div class="title-passion-3">
                <h2><img src="images/title3.png">无时不在的智能生活管家</h2>
                <h3>打造您的智慧家庭&nbsp提升您的生活品质</h3>
            </div>
            <div class="passion-4-list">
                <ul>
                    <li>环境侦测</li>
                    <li>场景控制</li>
                    <li>智能灯光</li>
                    <li>安防及远程查看</li>
                    <li>电器控制</li>
                </ul>
            </div>
        </div>
    </div>
    <!--include "public/footer.html"-->

