<!--include "public/header.html"-->
    <!-- 主体部分 -->
          <ul class="tabs" id="myTab" style="display: none">
                <li class="tab-nav pay active-product" href="#pay" role="tab" data-toggle="tab">薪酬福利</li>
                <li class="tab-nav hire" href="#hire" role="tab" data-toggle="tab">人才招聘</li>
            </ul>
    <div id="tabs-body" class="hire-tabs-body">
        <div class="pay-hire product-all" id="pay">
        </div>
        <div class="product-all" id="hire">
            <table class="table-hire">
                <tbody>
                    <tr class="job-case">
                        <td><span>职位名称</span></td>
                        <td><span>部门</span></td>
                        <td><span>工作地区</span></td>
                        <td></td>
                    </tr>
                    <tr class="job-case">
                        <td><span>NAS硬件工程师</span></td>
                        <td><span>研发部</span></td>
                        <td><span></span>上海</td>
                        <td>
                            <div class="pop-case">
                                <div>
                                    <span class="close-pop-case">X</span>
                                    <h4> NAS硬件工程师</h4>
                                    <hr>
                                    <h5>岗位职责：</h5>
                                    <p>1、NAS等产品硬件测试工作（包含常规硬件测试和整体软硬件联调）</p>
                                    <p>2、参与NAS等产品设计研发（硬件为主）</p>
                                    <p>3、NAS产品level 3技术支持</p>
                                    <p>4、负责处理各种随机的网络及计算机故障，保障局域网正常运行</p>
                                    <h5>任职要求：</h5>
                                    <p>1、对NAS、路由器或者其它电脑、数码产品极大的热爱</p>
                                    <p>2、对发烧级电脑攒机或者嵌入式系统有很深入的研究和动手能力</p>
                                    <p>3、经常混迹各大数码论坛（chiphell、pconline、pcpop、pcinlife、gebi1等等）</p>
                                    <p>4、熟悉Linux系统和常见Linux软件、数据库的运维管理可以给你加分</p>
                                    <p>5、知悉网络基本知识，了解常用网络协议，有一定的网络交换知识，有服务器硬件操作经验；</p>
                                    <p>6、有良好的沟通能力</p>
                                    <br>
                                    <div class="welfare">
                                        <p>简历投递：<a href="mailto:vivian.qi@winsuntech.cn">vivian.qi@winsuntech.cn</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="job-case">
                        <td><span>研发工程师（LinuxC/C++）</span></td>
                        <td><span>研发部</span></td>
                        <td><span>上海</span></td>
                        <td>
                            <div class="pop-case">
                                <div>
                                    <span class="close-pop-case">X</span>
                                    <h4> 研发工程师（Linux C/C++）</h4>
                                    <hr>
                                    <h5>岗位职责：</h5>
                                    <p>1、负责Linux服务端的核心应用开发；</p>
                                    <p>2、负责服务端的产品架构的设计、优化和开发</p>
                                    <h5>任职要求：</h5>
                                    <p>1、计算机及相关专业本科以上学历，3年以上工作经验；</p>
                                    <p>2、对数据结构和算法设计具有较深刻的理解；</p>
                                    <p>3、精通C/C++语言编程； 精通shell脚本；</p>
                                    <p>4、熟悉Linux/Unix系统、精通网络编程、多线程编程技术；熟悉TCP/IP、UDP等协议;</p>
                                    <p>5、善于学习和运用新知识，具有良好的分析和解决问题能力；具有良好的团队合作精神和积极主动的沟通意识 ；</p>
                                    <p>6、 具有linux下环境性能调优经验者优先考虑；</p>
                                    <p>7、具有智能家居相关产品开发经验者优先考虑；</p>
                                    <br>
                                    <div class="welfare">
                                        <p>简历投递：<a href="mailto:vivian.qi@winsuntech.cn">vivian.qi@winsuntech.cn</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="job-case">
                        <td><span>.Net高级软件工程师</span></td>
                        <td><span>研发部</span></td>
                        <td><span>上海</span></td>
                        <td>
                            <div class="pop-case">
                                <div>
                                    <span class="close-pop-case">X</span>
                                    <h4> .Net高级软件工程师</h4>
                                    <hr>
                                    <h5>岗位职责：</h5>
                                    <p>1、负责公司电子商务平台，业务系统等信息化项目的开发、部署及维护；</p>
                                    <p>2. 负责系统模块编码实现，确保安全、性能和质量；</p>
                                    <p>3、总结和撰写相应的软件系统开发文档；</p>
                                    <p>4、完成上级领导交办的其它各项相关任务。</p>
                                    <h5>任职要求：</h5>
                                    <p>1、 专科及以上，计算机相关专业；</p>
                                    <p>2、 3年及以上互联网.net架构开发经验；</p>
                                    <p>3、 精通ASP.NET开发应用框架，熟练使用WebService、JS、Jquery、Json,、Ajax等相关技术；</p>
                                    <p>4、熟悉 SQL Server数据库、存储过程，较强的数据库设计能力，对数据库建模与优化有一定的理解；</p>
                                    <p>5、具有规范化、标准化的代码编写习惯和良好的技术文档编制习惯，熟练使用常用建模和设计软件；</p>
                                    <p>6、良好的沟通和理解能力，具备团队合作意识和敬业负责的精神；</p>
                                    <br>
                                    <div class="welfare">
                                        <p>简历投递：<a href="mailto:vivian.qi@winsuntech.cn">vivian.qi@winsuntech.cn</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="job-case">
                        <td><span>
		软件测试工程师</span></td>
                        <td><span>研发部</span></td>
                        <td><span>上海</span></td>
                        <td>
                            <div class="pop-case">
                                <div>
                                    <span class="close-pop-case">X</span>
                                    <h4>
					软件测试工程师</h4>
                                    <hr>
                                    <h5>岗位职责：</h5>
                                    <p>1、依据需求文档及设计文档,设计测试数据和测试用例；</p>
                                    <p>2、完成产品的接口测试与系统测试；</p>
                                    <p>3、测试相关文档的编写（测试计划 用例 缺陷报告）；</p>
                                    <p>4、依据测试用例执行测试,反馈跟踪产品BUG及用例缺陷，整体管控项目风险</p>
                                    <h5>任职要求：</h5>
                                    <p>1、2年以上实际web、app测试经验；</p>
                                    <p>2、掌握基本的软件测试理论,熟悉软件测试的基本方法、流程和规范；</p>
                                    <p>3、熟练运用各种测试用例设计方法，熟悉常用的测试工具；</p>
                                    <p>4、熟悉质量管理，配置相关工具, 如 QC, SVN等，熟悉常用的Linux操作命令;熟悉的Sql Server,可以使用sql语句辅助测试；
                                    </p>
                                    <p>5、在web应用和服务的功能测试与性能测试方面有丰富的测试经验者优先；
                                        <p>6、良好的沟通能力和团队协作能力
                                        </p>
                                        <br>
                                        <div class="welfare">
                                            <p>简历投递：<a href="mailto:vivian.qi@winsuntech.cn">vivian.qi@winsuntech.cn</a>
                                            </p>
                                        </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="job-case">
                        <td><span>市场企划主管</span></td>
                        <td><span>研发部</span></td>
                        <td><span>上海</span></td>
                        <td>
                            <div class="pop-case">
                                <div>
                                    <span class="close-pop-case">X</span>
                                    <h4> 市场企划主管</h4>
                                    <hr>
                                    <h5>岗位职责：</h5>
                                    <p>1、收集市场信息，处理各类接洽、媒体合作关系，协助公司宣传品牌</p>
                                    <p>2、负责公司线上宣传推广，线下活动策划, 组织与实施</p>
                                    <p>3、追踪所有活动进程，对效果及相关数据做统计并实时与部门经理沟通</p>
                                    <p>4、协助部门经理制定全年活动计划并制定针对性活动配套方案</p>
                                    <p>5、按照公司要求完成团队每月市场经费对客户转换率的指标</p>
                                    <p>6、协助部门经理设计策划客户维护沟通系统</p>
                                    <p>7、软文，对外宣传资料和文案的撰写</p>
                                    <p>8、跟踪和分析业界的市场推广趋势，有自己的独特见解，并定期做团队分享</p>
                                    <h5>任职要求：</h5>
                                    <p>1、对NAS、路由器或者其它电脑、数码产品有极大的热爱和了解</p>
                                    <p>2、市场营销、公共关系或相关专业本科以上学历</p>
                                    <p>3、2年以上市场推广策划工作经验，有智能硬件，互联网行业，网络游戏，公关行业工作经验者优先</p>
                                    <p>4、拥有丰富的市场活动组织经验</p>
                                    <p>5、有丰富社交媒体渠道资源和宣传方法具有良好的口头及书面能力</p>
                                    <p>6、形象气质好，言谈举止大方得体</p>
                                    <p>7、热情有活力，以团队成绩为先，有强烈的进取心和自我提高能力</p>
                                    <p>8、具备较强的职业道德素养和企业意识</p>
                                    <br>
                                    <div class="welfare">
                                        <p>简历投递：<a href="mailto:vivian.qi@winsuntech.cn">vivian.qi@winsuntech.cn</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="job-case">
                        <td><span>平面设计师</span></td>
                        <td><span>研发部</span></td>
                        <td><span>上海</span></td>
                        <td>
                            <div class="pop-case">
                                <div>
                                    <span class="close-pop-case">X</span>
                                    <h4> 平面设计师</h4>
                                    <hr>
                                    <h5>岗位职责：</h5>
                                    <p>1、有自己独到的判断，能独立完成各大应用市场的推广海报、banner、插图等平面工作；</p>
                                    <p>2、 与整个团队配合，共同提升活动影响力，增加活动推广效果；</p>
                                    <p>3、 负责市场宣传中详细页的设计与更新管理。</p>
                                    <h5>任职要求：</h5>
                                    <p>1、 艺术设计、平面设计、数字媒体等相关教育背景，全日制院校毕业，本科及以上学历;</p>
                                    <p>2、 丰富的平面设计工作经验，属于视觉（色彩）动物；</p>
                                    <p>3、 有较强的广告创意表现能力，执行力强；</p>
                                    <p>4、 热爱设计，人际沟通能力佳，有良好的团队协作能力；</p>
                                    <p>5、精通PS、AI，熟悉Indesign者优先。</p>
                                    <br>
                                    <div class="welfare">
                                        <p>简历投递：<a href="mailto:vivian.qi@winsuntech.cn">vivian.qi@winsuntech.cn</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="job-case">
                        <td><span>Python开发工程师</span></td>
                        <td><span>研发部</span></td>
                        <td><span>上海</span></td>
                        <td>
                            <div class="pop-case">
                                <div>
                                    <span class="close-pop-case">X</span>
                                    <h4> Python开发工程师</h4>
                                    <hr>
                                    <h5>岗位职责：</h5>
                                    <p>1、熟悉MVC架构，精通Django或者其他Python Web开发框架者优先；</p>
                                    <p>2、具备数据库设计能力，精通掌握MySql/MongoDB者优先；</p>
                                    <p>3、熟悉Linux操作系统； </p>
                                    <p>4、精通Python，能够快速开发；</p>
                                    <p>5、熟悉Linux操作系统，熟练掌握Shell脚本语言；</p>
                                    <p>6、熟悉mysql/redis；</p>
                                    <h5>任职要求：</h5>
                                    <p>1、有网络服务开发经验者优先；</p>
                                    <p>2、具备良好的编码习惯及开发文档书写习惯；</p>
                                    <br>
                                    <div class="welfare">
                                        <p>简历投递：<a href="mailto:vivian.qi@winsuntech.cn">vivian.qi@winsuntech.cn</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="job-case">
                        <td><span>产品经理</span></td>
                        <td><span>研发部</span></td>
                        <td><span>上海</span></td>
                        <td>
                            <div class="pop-case">
                                <div>
                                    <span class="close-pop-case">X</span>
                                    <h4> 产品经理</h4>
                                    <hr>
                                    <h5>岗位职责：</h5>
                                    <p>1、负责公司NAS、智能家居、移动端相关产品系统的策划、设计和功能调研；</p>
                                    <p>2、产品的前期调研、规划和设计，产品设计包括功能、范围、结构和框架设计；</p>
                                    <p>3、跟踪产品运营数据，分析用户行为及反馈，持续改善产品用户体验；</p>
                                    <p>4、关注竞争对手的状况，对市场变化反应敏锐；</p>
                                    <p>5、跟进、协调相关团队，确保产品的设计及程序开发的进度。</p>
                                    <h5>任职要求：</h5>1、负责公司NAS、智能家居、移动端相关产品系统的策划、设计和功能调研；
                                    <p>1、本科及以上学历，2年以上互联网或电商行业相关工作经验；</p>
                                    <p>2、熟悉了解智能家居方面的产品，关注互联网的新事物和用户行为变化；了解家用存储设备，熟悉群晖等家用NAS系统的优先；</p>
                                    <p>3、精通Mindmanager/Axure/Visio等常用软件输出PRD文档，熟悉产品设计流程和规范；</p>
                                    <p>4、具有良好的用户体验感知能力，优秀的定量分析能力和严密的逻辑思维能力；</p>
                                    <p>5、对用户需求有深刻理解，能独立完成用户调研、市场分析、产品策划等工作；</p>
                                    <p>6、工作积极主动，主人翁意识强，有较强的合作意识和执行能力。</p>
                                    <br>
                                    <div class="welfare">
                                        <p>简历投递：<a href="mailto:vivian.qi@winsuntech.cn">vivian.qi@winsuntech.cn</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="job-case">
                        <td><span>项目经理</span></td>
                        <td><span>研发部</span></td>
                        <td><span>上海</span></td>
                        <td>
                            <div class="pop-case">
                                <div>
                                    <span class="close-pop-case">X</span>
                                    <h4>项目经理</h4>
                                    <hr>
                                    <h5>岗位职责：</h5>
                                    <p>1、认真落实项目执行和部门职责范围内的各项管理工作；
                                    </p>
                                    <p>2、对项目的进度、质量、范围、成本等整体负责；同时参与外包管理，与项目外包方建立通畅的沟通渠道，以及项目结项后回收工作；
                                    </p>
                                    <p>3、有效掌控项目的各个环节，协助、指导项目组成员的工作，及时发现并处理项目中存在的问题；
                                    </p>
                                    <p>4、负责管理和控制项目全过程的质量、进度，分析偏差，采取纠正措施。如果发现项目实际进展显著偏离计划，则及时提出预警并采取纠正措施；
                                    </p>
                                    <p>5、深入了解项目相关的用户方面的业务情况、组织结构、人员背景等相关要素，有针对性的制定项目管理计划、实施计划等，有效建立项目组内部管理和沟通机制；
                                        <p>6、可根据需要调配组内人员等资源；有权对项目组成员提出奖惩建议；
                                            <p>7、参与需求分析工作，并参与对需求文档和需求变更文档进行复审工作；
                                                <p>8、负责组织项目会议并编写会议纪要；根据项目需要定期或者不定期组织项目例会，对项目问题进行分析、解决，确保项目组成员充分沟通并快速解决问题；
                                                    <p>9、负责项目日报、周报等过程文档编写及汇报；
                                                        <p>10、负责所有项目相关文档的整理、归档等工作。
                                                            <p>11、完成上级领导临时指派的工作任务。
                                                            </p>
                                                            <h5>任职要求：</h5>
                                                            <p>1、本科以上学历,计算机相关专业毕业,三年以上IT技术工作经验（二年以上项目管理经验）；
                                                            </p>
                                                            <p>2、熟悉至少一种主流数据库都优先，如mysql、sqlserver；
                                                            </p>
                                                            <p>3、熟悉至少一种web服务器者优先，如Tomcat、ngnix、weblogic等；
                                                            </p>
                                                            <p>4、熟悉至少一种智能手机系统(Android、IOS)开发者优先；
                                                            </p>
                                                            <p>5、有很强的工作主动性，善于主动发现问题并能协调问题解决，性格稳重成熟，有较强的管理能力与组织能力，注重团队意识；
                                                                <p>5、有很强的工作主动性，善于主动发现问题并能协调问题解决，性格稳重成熟，有较强的管理能力与组织能力，注重团队意识；
                                                                    <p>6、善于沟通,性格坚毅勇敢，敢于面对工作压力；
                                                                        <p>7、有开发经理、管理经验优先；
                                                                            <p>8、有高级项目经理证或项目经理证优先。
                                                                            </p>
                                                                            <br>
                                                                            <div class="welfare">
                                                                                <p>简历投递：<a href="mailto:vivian.qi@winsuntech.cn">vivian.qi@winsuntech.cn</a>
                                                                                </p>
                                                                            </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="job-case">
                        <td><span>
							Android软件工程师</span></td>
                        <td><span>研发部</span></td>
                        <td><span>上海</span></td>
                        <td>
                            <div class="pop-case">
                                <div>
                                    <span class="close-pop-case">X</span>
                                    <h4>
										Android软件工程师</h4>
                                    <hr>
                                    <h5>岗位职责：</h5>
                                    <p>1、负责Android软件的产品开发与维护。</p>
                                    <p>2、对Android平台下的开发技术进行研究，对技术难点进行分析解决。</p>
                                    <p>3、独立完成Android软件开发，验证和修正测试中发现的问题。</p>
                                    <p>4、参与产品需求分析并制定技术实施方案；</p>
                                    <h5>任职要求：</h5>
                                    <p>1、大专及以上学历， 计算机、软件工程、通信、及相关学科背景。</p>
                                    <p>2、精通Android程序设计，精通Java开发语言。</p>
                                    <p>3、对viewpager fragment及android的性能优化有深刻研究。</p>
                                    <p>4、精通Android性能和内存优化，善于解决系统崩溃，内存溢出和兼容性问题。</p>
                                    <p>5、三年以上Android开发经验，能独立开发Android App。</p>
                                    <p>6、 精通Android UI控件和动画。</p>
                                    <p>7、 精通Android Service服务机制，熟悉Android进程间通信机制。</p>
                                    <p>8、 精通UDP、TCP/IP，HTTP等网路协议，能够熟练开发基于无线网络的应用。</p>
                                    <p>9、 精通Android移动平台Web开发技术标准，精通JQuery, JQuery Mobile,bootstrap或者其他HTML5框架。</p>
                                    <p>10、精通webkit 、手机浏览器适配和基于系统webview的浏览器相关优化。</p>
                                    <p>11、熟悉Git、svn等版本控制工具及LINUX操作系统。</p>
                                    <p>12、良好的表达和沟通能力。善于学习和钻研，能积极主动地开展工作，并具备良好的团队协作能力。</p>
                                    <br>
                                    <div class="welfare">
                                        <p>简历投递：<a href="mailto:vivian.qi@winsuntech.cn">vivian.qi@winsuntech.cn</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--  <div class="product-all" id="life">
				33333333333
		</div> -->
    </div>

    <!--include "public/footer.html"-->