<!--include "public/header.html"-->
    <!-- 主体部分 -->
    <div class="content-hire">
        <div class="img-ws215">
            <div class="content-pro">
                <div class="left">
                    <img src="images/IFC14b/udiskz-banner.png" alt="">
                </div>
                <div class="right">
                    <h1>闻上灵动系列IFC14b</h1>
                    <h4>灵巧身材 动感心情</h4>
                    <p>靓丽的色彩, 每天给你不一样的灵动心情</p>
                    <p>闪亮却不失坚固, 配合USB3.0和优质MLC芯片</p>
                    <p>迅捷体验时刻伴随着您</p>
                    <ul class="pan">
                        <li>16G</li>
                        <li>32G</li>
                        <li>64G</li>
                        <li>128G</li>
                    </ul>
                    <ul class="color">
                        <li><img src="images/green.png">绿色</li>
                        <li><img src="images/blue.png">蓝色</li>
                    </ul>
                    <ul class="buy">
                        <li>
                            <a target="_blank" href="http://inforcube.tmall.com/category-959755610.htm?spm=a1z10.1-b.w5002-8125417525.4.hwMneL&search=y&catName=%BC%D3%C3%DCU%C5%CC%CF%B5%C1%D0" tar><img src="images/tmall.png"></a>
                        </li>
                        <!-- <li><a target="_blank" href="http://item.jd.com/1555862520.html"><img src="images/jd.png"></a></li> -->
                        <li>
                            <a target="_blank" href="http://www.amazon.cn/s/ref=nb_sb_noss?__mk_zh_CN=%E4%BA%9A%E9%A9%AC%E9%80%8A%E7%BD%91%E7%AB%99&url=search-alias%3Daps&field-keywords=inforcube"><img src="images/amazon.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-border">
            <div class="ws215-tabs">
                <ul class="tabs clear">
                    <li class="tab-nav active-product" href="#ProductGaishu" role="tab" data-toggle="tab">产品概述</li>
                    <li class="tab-nav" href="#ProductPic" role="tab" data-toggle="tab">产品图片</li>
                    <li class="tab-nav" href="#ProductCanshu" role="tab" data-toggle="tab">规格参数</li>
                    <li class="tab-nav productdown" href="#ProductDown" role="tab" data-toggle="tab">相关下载</li>
                    <li class="tab-nav xiaoneng2" href="#xiaoneng2" aria-controls="xiaoneng2" role="tab" data-toggle="tab">传输效能</li>
                    <li class="tab-nav productproblem" href="#ProductProblem" role="tab" data-toggle="tab">常见问题</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="tabs-body" class="product-tabs-body">
        <div class="product-all Productsummry" id="ProductGaishu">
            <h2>原厂MLC芯片</h2>
            <!-- <h3>将体验做到极致</h3> -->
            <p>采用业界速度最快、最稳定的银灿IS903或902E主控，硬件兼容性好，连续读写性能极佳，在众多3.0主控当中名列前茅。采用国际大厂原装MLC闪存，具有高速传输、低出错率、超高稳定性、寿命持久的特点，为您带来极速和高质量的传输体验</p>
            <img src="images/IFC14a/mlc.jpg">
            <h2>数据极速传输</h2>
            <h3>USB3.0更快更高速</h3>
            <p>搭载USB3.0接口，完全符合主流电脑的标准配置。您的Office文档、图片、音乐、视频等文件，都可以由它来妥善保管。从传输到存储，一切都以超高速进行。它向下兼容USB2.0接口，甚至传输速度有10倍的提升！</p>
            <img src="images/IFC14a/sudu2.jpg">
            <h2>安全专家</h2>
            <h3>给移动数据找一个安全的家</h3>
            <p>稳定存储技术，有效防止数据丢失，打造安全可靠的存储环境；InforCube移动数据保险箱采用AES256位加密算法，防止内部信息外泄，兼容XP，Windows 7，Windows 8,有效保护您的数据安全！</p>
            <img src="images/IFC14a/jiami.jpg">
            <h2>极速刀锋 迅捷生活</h2>
            <!-- <h3>搭载绝对连通力的APP</h3> -->
            <p>原厂MLC芯片配合高速USB3.0接口, 随时都能为您高速备份和传输各类文件, 稳定且又高效, 完美的弧形边框不但握感舒适,更是增添了极致的锋锐感</p>
            <img src="images/IFC14b/waiguan.jpg">
        </div>
        <div class="product-all Productsummry" id="ProductPic">
            <div class="product-pic clear">
                <ul id="pro-pic">
                    <li>
                        <img src="images/IFC14b/pic-2.png">
                    </li>
                    <li>
                        <img src="images/IFC14b/pic-5.png">
                    </li>
                    <li>
                        <img src="images/IFC14b/pic-3.png">
                    </li>
                    <li>
                        <img src="images/IFC14b/pic-1.png">
                    </li>
                    <li>
                        <img src="images/IFC14b/pic-6.png">
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-all Productsummry" id="ProductCanshu">
            <table class="Pro-table">
                <thead>
                    <th colspan="2" class="table-th">主体</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-bgc">品牌名称</td>
                        <td>inforcube®</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="table-bgc">系列</td>
                        <td>竹节系列</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">型号</td>
                        <td>IFC14b</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">颜色</td>
                        <td>蓝色、绿色</td>
                    </tr>
                    <thead>
                        <th colspan="2" class="table-th">规格</th>
                    </thead>
                    <tr>
                        <td class="table-bgc">容量</td>
                        <td>16GB——128GB</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">芯片</td>
                        <td>MLC</td>
                    </tr>
                    <td class="table-bgc">尺寸</td>
                    <td>70.5mm*24mm*9.9mm</td>
                    <tr>
                        <td class="table-bgc">接口类型</td>
                        <td>标准USB3.0</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">服务</td>
                        <td>5年质保</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="product-all Productsummry productdown" id="ProductDown">
            <ol>
                <li><a target="_blank" href="download/doc/InforCube移动数据保险箱.exe">移动数据保险箱秘钥下载</a></li>
                <li><a target="_blank" href="download/doc/InforCube移动数据保险箱使用说明书V1.0.pdf">移动数据保险箱使用说明书</a></li>
            </ol>
        </div>
        <div class="product-all Productsummry xiaoneng2" id="xiaoneng2">
            <div class="xiao-neng ">
                <table class="trans-table" border="0" cellspacing="0" cellpadding="0">
                    <caption>普通模式</caption>
                    <tbody>
                        <tr>
                            <td class="table-bgc">普通模式</td>
                            <td class="table-bgc1">IFC14b(16G)</td>
                            <td class="table-bgc1">IFC14b(32G)</td>
                            <td class="table-bgc1">IFC14b(64G)</td>
                            <td class="table-bgc1">IFC15c(32G)</td>
                            <td class="table-bgc1">IFC15a(128G)</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="table-bgc">读取</td>
                            <td>75.1</td>
                            <td>87.2</td>
                            <td>95.3</td>
                            <td>129.2</td>
                            <td>156.2</td>
                        </tr>
                        <tr>
                            <td class="table-bgc">写入</td>
                            <td>18.54</td>
                            <td>34.81</td>
                            <td>43.94</td>
                            <td>90.74</td>
                            <td>129.3</td>
                        </tr>
                    </tbody>
                </table>
                <div class="tubiao-xiao">
                    <img src="images/IFC14a/2.png">
                </div>
                <table class="trans-table" border="0" cellspacing="0" cellpadding="0">
                    <caption>加密模式</caption>
                    <tbody>
                        <tr>
                            <td class="table-bgc">加密模式</td>
                            <td class="table-bgc1">IFC14b(16G)</td>
                            <td class="table-bgc1">IFC14b(32G)</td>
                            <td class="table-bgc1">IFC14b(64G)</td>
                            <td class="table-bgc1">IFC15c(32G)</td>
                            <td class="table-bgc1">IFC15a(128G)</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="table-bgc">读取</td>
                            <td>73.1</td>
                            <td>84.36</td>
                            <td>93.9</td>
                            <td>123.3</td>
                            <td>151</td>
                        </tr>
                        <tr>
                            <td class="table-bgc">写入</td>
                            <td>18.2</td>
                            <td>21</td>
                            <td>24</td>
                            <td>22.7</td>
                            <td>28</td>
                        </tr>
                    </tbody>
                </table>
                <div class="tubiao-xiao">
                    <img src="images/IFC14a/2.png">
                </div>
                <div class="test">
                    <h4>测试环境:</h4>
                    <!-- <p>主机配置:</p> -->
                    <p>Intel G3220 3.00GHz; 6GB DDRIII; Sandisk 120GB SSD x 1, Windows 7;InforCube移动数据保险箱V3.6</p>
                </div>
            </div>
        </div>
        <!-- problem start -->
        <ul class="product-all Productsummry productproblem clear" id="ProductProblem">
            <li role="tabpanel" class="tab-pane " id="chengxu">
                <span>加密</span>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>你们的加密软件初始密码是什么？</h4>
                    <p>我们的加密软件初始密码是“abcd”，详细资料您可以参考“用户说明书”。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>你们的加密区容量可以进行调整吗？</h4>
                    <p>目前市场销售的产品，加密区容量是不可以进行调整。不过您可以持续关注我们的官方网站，我们将会在近期将“加密区容量调整软件”开放给用户。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>如果不小心将加密软件给删除了，可以还原吗？</h4>
                    <p>您可以在我们的官方网站下载加密软件到您的U盘。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>重新下载的加密软件，密码是用初始密码吗？</h4>
                    <p>重新下载的加密软件，登陆密码是您设置的最新密码。不是初始密码。
                    </p>
                </div>
            </li>
            <li role="tabpanel" class="tab-pane" id="yingjian">
                <span>系统支持</span>
                <br>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>你们的U盘支持哪些操作系统呢？</h4>
                    <p>Windows主流的操作系统，我们的U盘都是支持的。例如win7、winxp，都是支持的。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>你们的U盘支持32位的电脑操作系统吗？</h4>
                    <p>我们的U盘支持32位的电脑操作系统。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>你们的U盘支持64位的电脑操作系统吗？</h4>
                    <p>我们的U盘支持64位的电脑操作系统。
                    </p>
                </div>
            </li>
        </ul>
        <div class="float-side">
            <a class="to-to-top">
            </a>
        </div>
    </div>
<!--include "public/footer.html"-->
