<!--include "public/header.html"-->
    <!-- 主体部分 -->
    <div class="content-hire">
        <div class="img-ws215">
            <div class="content-pro">
                <div class="left">
                    <img src="images/IFC15c/udisk-32.png" alt="">
                </div>
                <div class="right">
                    <h1>闻上轻盈系列IFC15c</h1>
                    <h4>一体两用 跨界通行</h4>
                    <p>丝般顺滑的铝金属工艺, 带来轻盈小巧的一体化外壳</p>
                    <p>创新的滑动式盖帽, 实用与美观的双重结合. 电脑手机随心插</p>
                    <p>无缝分享您的数据和信息</p>
                    <ul class="pan">
                        <!-- <li>16G</li> -->
                        <li>32G</li>
                        <!-- <li>64G</li> -->
                        <!-- <li>128G</li> -->
                    </ul>
                    <ul class="color">
                        <li><img src="images/blue.png">明蓝</li>
                        <li><img src="images/black.png">幽黑</li>
                    </ul>
                    <ul class="buy">
                        <li>
                            <a target="_blank" href="http://detail.tmall.com/item.htm?spm=a1z10.5-b.w4011-8125417562.35.t2O8a7&id=44438235399&rn=9aeb0c748e552a5625c8c7595440001b&abbucket=8" tar><img src="images/tmall.png"></a>
                        </li>
                        <!-- <li><a target="_blank" href="http://item.jd.com/1555862520.html"><img src="images/jd.png"></a></li>
                    <li><a target="_blank" href=""><img src="images/amazon.png"></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-border">
            <div class="ws215-tabs">
                <ul class="tabs clear">
                    <li class="tab-nav active-product" href="#ProductGaishu" role="tab" data-toggle="tab">产品概述</li>
                    <li class="tab-nav" href="#ProductPic" role="tab" data-toggle="tab">产品图片</li>
                    <li class="tab-nav" href="#ProductCanshu" role="tab" data-toggle="tab">规格参数</li>
                    <li class="tab-nav productdown" href="#ProductDown" role="tab" data-toggle="tab">相关下载</li>
                    <li class="tab-nav xiaoneng2" href="#xiaoneng2" aria-controls="xiaoneng2" role="tab" data-toggle="tab">传输效能</li>
                    <li class="tab-nav productproblem" href="#ProductProblem" role="tab" data-toggle="tab">常见问题</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="tabs-body" class="product-tabs-body">
        <div class="product-all Productsummry" id="ProductGaishu">
            <h2>手机/电脑两用U盘</h2>
            <h3>一体两用 跨界通行</h3>
            <p>双USB接口设计，打破了WIFI的环境限制，告别了蓝牙传输的漫长等待，一插一拔，迅速完成不同终端设备之间的数据共享。分享时刻，你只需要把它交给朋友，插入手机或者平板电脑，简单的复制粘贴，瞬间分享海量照片、音乐与视频！</p>
            <img src="images/IFC15c/shuangchatou.jpg">
            <h2>极致工艺 超凡脱俗</h2>
            <h3>色彩与金属的结合</h3>
            <p>独具匠心的伸缩式接口设计，可以双向滑动。你只需要用双指轻捏盖帽上的防滑纹，再将机身向前推可立现Micro USB接口，向后拉则将其隐藏。这样的人性化设计，不仅能有效保护接口，更可以避免盖帽丢失。重要的是，操作步骤也变得更简单，使用起来也更方便</p>
            <img src="images/IFC15c/caizhi.jpg">
            <h2>安全专家</h2>
            <h3>给移动数据找一个安全的家</h3>
            <p>稳定存储技术，有效防止数据丢失，打造安全可靠的存储环境；InforCube移动数据保险箱采用AES256位加密算法，防止内部信息外泄，兼容XP，Windows 7，Windows 8,有效保护您的数据安全！</p>
            <img src="images/IFC14a/jiami.jpg">
            <h2>数据极速传输</h2>
            <h3>USB3.0更快更高速</h3>
            <p>搭载USB3.0接口，完全符合主流电脑的标准配置。您的Office文档、图片、音乐、视频等文件，都可以由它来妥善保管。从传输到存储，一起都以超高速进行。它向下兼容USB2.0接口，甚至传输速度有10倍的提升！</p>
            <img src="images/IFC14a/sudu2.jpg">
            <h2>精巧设计</h2>
            <!-- <h3>色彩与金属的结合</h3> -->
            <p>将仅3g的U盘置于手中，轻若无物。正因为它是如此的小巧玲珑，我们为其设计了一个悬挂孔，便于你随身携带它。金属与半透明高级环保塑胶的完美结合，使它看起来更具层次感。金属外壳可高效散热；而运用高级环保塑胶打造的保护帽，经细腻的磨砂工艺处理，手感倍 佳且可减轻整体重量。</p>
            <img src="images/IFC15c/qing.jpg">
        </div>
        <div class="product-all Productsummry" id="ProductPic">
            <div class="product-pic clear">
                <ul id="pro-pic">
                    <li>
                        <img src="images/IFC15c/pic-1.png">
                    </li>
                    <li>
                        <img src="images/IFC15c/pic-2.png">
                    </li>
                    <li>
                        <img src="images/IFC15c/pic-3.png">
                    </li>
                    <li>
                        <img src="images/IFC15c/pic-4.png">
                    </li>
                    <li>
                        <img src="images/IFC15c/pic-5.png">
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-all Productsummry" id="ProductCanshu">
            <table class="Pro-table">
                <thead>
                    <th colspan="2" class="table-th">主体</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-bgc">品牌名称</td>
                        <td>inforcube®</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="table-bgc">系列</td>
                        <td>OTG双插头手机U盘</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">型号</td>
                        <td>IFC15c（OTG）</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">颜色</td>
                        <td>蓝色、黑色</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">材质</td>
                        <td>金属、ABS</td>
                    </tr>
                    <thead>
                        <th colspan="2" class="table-th">规格</th>
                    </thead>
                    <tr>
                        <td class="table-bgc">容量</td>
                        <td>32GB</td>
                    </tr>
                    <td class="table-bgc">尺寸</td>
                    <td>35mm*15mm*7mm</td>
                    <tr>
                        <td class="table-bgc">接口类型</td>
                        <td>标准USB3.0/MicroUSB2.0</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">重量</td>
                        <td>0.003Kg</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">服务</td>
                        <td>5年质保</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="product-all Productsummry productdown" id="ProductDown">
            <ol>
                <li><a target="_blank" href="download/doc/InforCube移动数据保险箱.exe">移动数据保险箱秘钥下载</a></li>
                <li><a target="_blank" href="download/doc/InforCube移动数据保险箱使用说明书V1.0.pdf">移动数据保险箱使用说明书</a></li>
            </ol>
        </div>
        <!-- xiaoneng start -->
        <div class="product-all Productsummry xiaoneng2" id="xiaoneng2">
            <div class="xiao-neng ">
                <table class="trans-table" border="0" cellspacing="0" cellpadding="0">
                    <caption>普通模式</caption>
                    <tbody>
                        <tr>
                            <td class="table-bgc">普通模式</td>
                            <td class="table-bgc1">IFC14b(16G)</td>
                            <td class="table-bgc1">IFC14b(32G)</td>
                            <td class="table-bgc1">IFC14b(64G)</td>
                            <td class="table-bgc1">IFC15c(32G)</td>
                            <td class="table-bgc1">IFC15a(128G)</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="table-bgc">读取</td>
                            <td>75.1</td>
                            <td>87.2</td>
                            <td>95.3</td>
                            <td>129.2</td>
                            <td>156.2</td>
                        </tr>
                        <tr>
                            <td class="table-bgc">写入</td>
                            <td>18.54</td>
                            <td>34.81</td>
                            <td>43.94</td>
                            <td>90.74</td>
                            <td>129.3</td>
                        </tr>
                    </tbody>
                </table>
                <div class="tubiao-xiao">
                    <img src="images/IFC14a/2.png">
                </div>
                <table class="trans-table" border="0" cellspacing="0" cellpadding="0">
                    <caption>加密模式</caption>
                    <tbody>
                        <tr>
                            <td class="table-bgc">加密模式</td>
                            <td class="table-bgc1">IFC14b(16G)</td>
                            <td class="table-bgc1">IFC14b(32G)</td>
                            <td class="table-bgc1">IFC14b(64G)</td>
                            <td class="table-bgc1">IFC15c(32G)</td>
                            <td class="table-bgc1">IFC15a(128G)</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="table-bgc">读取</td>
                            <td>73.1</td>
                            <td>84.36</td>
                            <td>93.9</td>
                            <td>123.3</td>
                            <td>151</td>
                        </tr>
                        <tr>
                            <td class="table-bgc">写入</td>
                            <td>18.2</td>
                            <td>21</td>
                            <td>24</td>
                            <td>22.7</td>
                            <td>28</td>
                        </tr>
                    </tbody>
                </table>
                <div class="tubiao-xiao">
                    <img src="images/IFC14a/2.png">
                </div>
                <div class="test">
                    <h4>测试环境:</h4>
                    <!-- <p>主机配置:</p> -->
                    <p>Intel G3220 3.00GHz; 6GB DDRIII; Sandisk 120GB SSD x 1, Windows 7;InforCube移动数据保险箱V3.6</p>
                </div>
            </div>
        </div>
        <!-- problem start -->
        <ul class="product-all Productsummry productproblem clear" id="ProductProblem">
            <li role="tabpanel" class="tab-pane " id="chengxu">
                <span>加密</span>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>你们的加密软件初始密码是什么？</h4>
                    <p>我们的加密软件初始密码是“abcd”，详细资料您可以参考“用户说明书”。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>你们的加密区容量可以进行调整吗？</h4>
                    <p>目前市场销售的产品，加密区容量是不可以进行调整。不过您可以持续关注我们的官方网站，我们将会在近期将“加密区容量调整软件”开放给用户。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>如果不小心将加密软件给删除了，可以还原吗？</h4>
                    <p>您可以在我们的官方网站下载加密软件到您的U盘。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>重新下载的加密软件，密码是用初始密码吗？</h4>
                    <p>重新下载的加密软件，登陆密码是您设置的最新密码。不是初始密码。
                    </p>
                </div>
            </li>
            <li role="tabpanel" class="tab-pane" id="yingjian">
                <span>系统支持</span>
                <br>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>你们的U盘支持哪些操作系统呢？</h4>
                    <p>Windows主流的操作系统，我们的U盘都是支持的。例如win7、winxp，都是支持的。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>你们的U盘支持32位的电脑操作系统吗？</h4>
                    <p>我们的U盘支持32位的电脑操作系统。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>你们的U盘支持64位的电脑操作系统吗？</h4>
                    <p>我们的U盘支持64位的电脑操作系统。
                    </p>
                </div>
            </li>
        </ul>
        <div class="float-side">
            <a class="to-to-top">
            </a>
        </div>
    </div>
    <!--include "public/footer.html"-->
