<!--include "public/header.html"-->
    <!-- 主体部分 -->
            <ul class="tabs" id="myTab" style="display: none">
                <li class="tab-nav productall active-product" href="#ProductAll" role="tab" data-toggle="tab">全部</li>
                <li class="tab-nav productnas" href="#ProductNas" role="tab" data-toggle="tab">家庭云存储</li>
                <li class="tab-nav productudisk" href="#ProductUdisk" role="tab" data-toggle="tab">便携式存储</li>
            </ul>
    <div id="tabs-body" class="product-tabs-body">
        <div class="product-all allproduct clear" id="ProductAll">
            <ul>
                <a href="IFC14a.html">
                    <li><img src="images/products/udisk-d.png">
                        <p>IFC14a</p><span>了解更多</span></li>
                </a>
                <a href="IFC14b.html">
                    <li><img src="images/products/udisk-z.png">
                        <p>IFC14b</p><span>了解更多</span></li>
                </a>
                <a href="IFC15c.html">
                    <li><img src="images/products/udisk-32.png">
                        <p>IFC15c</p><span>了解更多</span></li>
                </a>
                <a href="WS215e.html">
                    <li><img src="images/products/WS215e.png">
                        <p>WS215e</p><span>了解更多</span></li>
                </a>
                <a href="WS515p.html">
                    <li><img src="images/products/WS215P.png">
                        <p>WS515p</p><span>了解更多</span></li>
                </a>
                 <a href="WS215i.html">
                    <li><img src="images/products/wisnuc.png">
                        <p>WS215i</p><span>了解更多</span></li>
                </a>
            </ul>
        </div>
        <div class="product-all allproduct clear" id="ProductNas">
            <ul>
                <a href="WS215e.html">
                    <li><img src="images/products/WS215e.png">
                        <p>WS215e</p><span>了解更多</span></li>
                </a>
                <a href="WS515p.html">
                    <li><img src="images/products/WS215P.png">
                        <p>WS515p</p><span>了解更多</span></li>
                </a>
                 <a href="WS215i.html">
                    <li><img src="images/products/wisnuc.png">
                        <p>WS215i</p><span>了解更多</span></li>
                </a>
            </ul>
        </div>
        <div class="product-all allproduct clear" id="ProductUdisk">
            <ul>
                <a href="IFC14a.html">
                    <li><img src="images/products/udisk-d.png">
                        <p>IFC14a</p><span>了解更多</span></li>
                </a>
                <a href="IFC14b.html">
                    <li><img src="images/products/udisk-z.png">
                        <p>IFC14b</p><span>了解更多</span></li>
                </a>
                <a href="IFC15c.html">
                    <li><img src="images/products/udisk-32.png">
                        <p>IFC15c</p><span>了解更多</span></li>
                </a>
            </ul>
        </div>
        <!--        <div class="float-side">
            <a class="to-to-top">
            </a>
        </div> -->
    </div>
    <!--include "public/footer.html"-->