<!--include "public/header.html"-->
    <!-- 主要内容区 -->
    <div class="banner-tech">
        <div class="text-tech">
            <p>闻上MiniNAS OS操作系统</p>
            <p><a href="">立即升级</a></p>
        </div>
    </div>
    <div class="line-tech">
        <p>DOWNLOAD</p>
        <img src="images/technology/tech-line.png" alt="">
    </div>
    <div class="download-tech">
        <ul class="clear">
            <li>
                <img src="images/technology/icon-1.png">
                <p>MiniNAS OS</p>
                <a target="_blank" href="download/MiniNAS OS V1.0使用说明书.pdf">系统操作说明书（V1.0）
			</a>
            </li>
            <li>
                <img src="images/technology/icon-3.png">
                <p>WS215e</p>
                <a target="_blank" href="download/WS215e硬件安装说明书.jpg">硬件安装说明书
			</a>
            </li>
            <li>
                <img src="images/technology/icon-2.png">
                <p>WS515P</p>
                <a target="_blank" href="download/WS551p硬件安装说明书.pdf">硬件安装说明书
			</a>
            </li>
            <li>
                <img src="images/technology/icon-4.png">
                <p>移动数据保险箱</p>
                <a target="_blank" href="download/InforCube移动数据保险箱使用说明书V1.0.pdf">使用说明书
			</a>
            </li>
            <li>
                <img src="images/technology/icon-4.png">
                <p>移动数据保险箱</p>
                <a target="_blank" href="download/InforCube移动数据保险箱.exe">加密软件
			</a>
            </li>
        </ul>
    </div>
    <!--include "public/footer.html"-->
