<!--include "public/header.html"-->
    <!-- 主体部分 -->
    <div class="content-hire wisnuc1">
        <div class="img-ws215">
            <div class="content-pro">
                <div class="left">
                    <img src="images/Wisnuc/wisnuc1.png" alt="">
                </div>
                <div class="right">
                    <h1>闻上云管家---WS215i</h1>
                    <h4>将极致工艺与高端配置打造成智能时尚魅影</h4>
                    <p>时尚与工艺相融、智能与高配相嵌、低耗与小巧相映</p>
                    <p>非凡系列WS215i，智能家庭，乐享安全</p>
                    <!-- <p>可以让您将WS215e在家庭的客厅之中</p> -->
                    <ul class="pan">
                        <li>2盘位</li>
                        <li style="display:none">2盘位</li>
                        <li style="display:none">2盘位</li>
                        <li style="display:none">2盘位</li>
                    </ul>
                    <ul class="color">
                        <li><img src="images/black.png">深蓝色</li>
                        <li style="display:none"><img src="images/yinse.png">银色</li>
                    </ul>
                    <ul class="buy">
                    <li>
                            <a target="_blank" href="http://z.jd.com/project/details/28963.html"><img src="images/jd.png"></a>
                        </li>
                        <li style="display:none">
                            <a target="_blank" href="https://inforcube.tmall.com/category-1079456724.htm?spm=a220o.1000855.w5002-8125417525.20.KPHWjo&search=y&catName=NAS¼ÒͥÖÇÄÜϵÁÐ" ><img src="images/tmall.png"></a>
                        </li>
                        
                        <li style="display:none">
                            <a href=""><img src="images/amazon.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="tabs-body" class="product-tabs-body">
        <div class="product-all Productsummry productgaishu" id="ProductGaishu">
            <img src="images/Wisnuc/Wisnuc_01.jpg">
            <img src="images/Wisnuc/Wisnuc_02.jpg">
            <img src="images/Wisnuc/Wisnuc_03.jpg">
            <img src="images/Wisnuc/Wisnuc_04.jpg">
            <img src="images/Wisnuc/Wisnuc_05.jpg">
            <img src="images/Wisnuc/Wisnuc_06.jpg">
            <img src="images/Wisnuc/Wisnuc_07.jpg">
            <img src="images/Wisnuc/Wisnuc_08.jpg">
            <img src="images/Wisnuc/Wisnuc_09.jpg">
            <img src="images/Wisnuc/Wisnuc_10.jpg">
            <img src="images/Wisnuc/Wisnuc_11.jpg">
        </div>
        <div class="float-side">
            <a class="to-to-top">
            </a>
        </div>
    </div>
    <!--include "public/footer.html"-->