<!--include "public/header.html"-->
    <!-- 主体部分 -->
    <div class="content-hire">
        <div class="img-ws215">
            <div class="content-pro">
                <div class="left">
                    <img src="images/WS515p/ws515p-banner.png" alt="">
                </div>
                <div class="right">
                    <h1>闻上海致系列WS515p</h1>
                    <h4>价格实惠的企业级产品品质</h4>
                    <p>5盘位X86构架的产品设计方案，支持最大存储容量20T</p>
                    <p>多种RAID组合方案、高速的传输速率、稳定易用的操作系统</p>
                    <p>是您家庭大容量存储、数据分享的极佳选择</p>
                    <ul class="pan">
                        <li>5盘位</li>
                        <li style="display:none">2盘位</li>
                        <li style="display:none">2盘位</li>
                        <li style="display:none">2盘位</li>
                    </ul>
                    <ul class="color">
                        <li><img src="images/white.png">白色</li>
                        <li style="display:none"><img src="images/yinse.png">银色</li>
                    </ul>
                    <ul class="buy">
                        <li>
                            <a target="_blank" href="http://detail.tmall.com/item.htm?spm=a1z10.5-b.w4011-8125417562.34.zoeAF0&id=41720024890&rn=4507024af8af5df812fb0a0235e4e014&abbucket=8" tar><img src="images/tmall.png"></a>
                        </li>
                        <li>
                            <a target="_blank" href="http://item.jd.com/1521762869.html"><img src="images/jd.png"></a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.amazon.cn/Inforcube-IFC-CMNU511-%E5%AE%B6%E5%BA%AD%E6%99%BA%E8%83%BD-%E4%BA%94%E7%9B%98%E4%BD%8D%E5%8F%8C%E6%A0%B8NAS%E7%BD%91%E7%BB%9C%E7%A1%AC%E7%9B%98%E5%AD%98%E5%82%A8-%E7%A7%81%E6%9C%89%E4%BA%91%E6%9C%8D%E5%8A%A1%E5%99%A8/dp/B00PVXH8KG/ref=sr_1_6?ie=UTF8&qid=1430878074&sr=8-6&keywords=inforcube"><img src="images/amazon.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-border">
            <div class="ws215-tabs">
                <ul class="tabs clear" id="myTab">
                    <li class="tab-nav active-product productgaishu" href="#ProductGaishu" role="tab" data-toggle="tab">产品概述</li>
                    <li class="tab-nav productpic" href="#ProductPic" role="tab" data-toggle="tab">产品图片</li>
                    <li class="tab-nav productcanshu" href="#ProductCanshu" role="tab" data-toggle="tab">规格参数</li>
                    <li class="tab-nav productdown" href="#ProductDown" role="tab" data-toggle="tab">相关下载</li>
                    <li class="tab-nav xiaoneng2" href="#xiaoneng2" aria-controls="xiaoneng2" role="tab" data-toggle="tab">传输效能</li>
                    <li class="tab-nav productproblem" href="#ProductProblem" role="tab" data-toggle="tab">常见问题</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="tabs-body" class="product-tabs-body">
        <div class="product-all Productsummry" id="ProductGaishu">
            <h2>易用的操作系统</h2>
            <h3>将体验做到极致</h3>
            <p>闻上MiniNAS Cloud OS操作流畅、简单易用。智能化桌面提供分类整齐的主选单，让您更加方便快捷地找到所需应用。智能仪表板图像式呈现重要系统信息，系统状态一目了然。另有智能工具栏，提供桌面喜好设定、在线资源、快速搜寻、事件通知、外接装置键及背景 任务列表等功能</p>
            <img src="images/WS215e/1.jpg">
            <h2>多平台的无缝连通</h2>
            <h3>家庭的数据中心</h3>
            <p>闻上MiniNAS Cloud OS与在 Windows®、Mac® 、Android®、与 Linux® 平台间无缝对接传输、存储与分享文件，并提供完整的网络协议支持，包含 FTP、SMB2、DLNA等通用协议。WS215e提供您一个集中平台，让您的所有终端，例如电脑、平板、智能手机等，存储、备份、浏览、编辑、分享不再遥不可及</p>
            <img src="images/WS215e/2.jpg">
            <h2>享受私密的多媒体服务</h2>
            <h3>集中化的云中心</h3>
            <p>WS215e提供一个集中化的私有云平台，让您管理与分享照片、音乐与影片。通过对多媒体的权限设置功能，您可以轻松管控家庭成员的浏览范围</p>
            <div class="Product-tabs">
                <a class="Pro-active" href="#ProPic">照片中心</a>
                <a href="#ProVideo">视频中心</a>
                <a href="#ProMusic">音乐中心</a>
                <a href="#ProDownload">下载中心</a>
            </div>
            <div class="Procontent">
                <div class="Product tab-content" id="ProPic">
                    <img src="images/WS215e/3.1.jpg">
                </div>
                <div class="Product tab-content" id="ProVideo">
                    <img src="images/WS215e/3.2.jpg">
                </div>
                <div class="Product tab-content" id="ProMusic">
                    <img src="images/WS215e/3.3.jpg">
                </div>
                <div class="Product tab-content" id="ProDownload">
                    <img src="images/WS215e/3.4.jpg">
                </div>
            </div>
            <h2>连接您家里最大的屏幕</h2>
            <h3>将影音多媒体串流至电视</h3>
            <p>WS215e的高度兼容行，可以让您顺畅地连接家中的其他设备，其中包括家中最大的屏幕 - 电视。通过DLNA技术，您无需任何预先设置，只要与路由器连接，便能串流音乐、相片及视频至 DLNA 兼容设备；您也可以通过其他传输协议，连接至您的电视，并通过权限管理 控制您家庭成员的访问权限</p>
            <img src="images/WS215e/4.jpg">
            <h2>您家里私密的云盘</h2>
            <h3>搭载绝对连通力的APP</h3>
            <p>您无需担心移动设备中大量的核心数据丢失，备份繁琐，你也无需再担心公共云盘的不私密性给您带来的困扰。WS215e搭载拥有绝对连通力APP，可以让您随时随地备份、管理您的家庭与个人数据资产，而不用担心公共云盘容易泄露的风险</p>
            <img src="images/WS515p/5.jpg">
            <h2>让您发烧的高性价比配置</h2>
            <h3>全系列采用X86构架</h3>
            <p>我们的产品开发理念是让您拥有具有绝对运算能力的家庭数据中心 ，在畅快的传输效率、数据分析、无障碍的媒体流支持下，享受发烧友的快感，以及亲民的实价</p>
            <img src="images/WS515p/6.jpg">
            <h2>节能的家庭数据中心</h2>
            <h3>超低功耗</h3>
            <p>所有闻上家庭数据中心（Home NAS）的设计皆以节能作为首要设计目的。WS515p在待机状态下的电源消耗功率仅50W，而满载运作中消耗功率也仅为70W</p>
            <img src="images/WS515p/7.jpg">
            <h2>至简外表 敦实厚重</h2>
            <h3>享受企业级品质</h3>
            <p>WS515p金属机身，采用1.0mm钢板，极致保护。通过特殊风扇与智能型空气对流设计，可让系统全年保持低温运作。标致的蓝色硬盘指示灯可以让您随时了解WS515p的工作状态</p>
            <img src="images/WS515p/8.jpg">
        </div>
        <div class="product-all Productsummry" id="ProductPic">
            <div class="product-pic clear">
                <ul id="pro-pic">
                    <li>
                        <img src="images/WS515P/pic-1.png">
                    </li>
                    <li>
                        <img src="images/WS515P/pic-2.png">
                    </li>
                    <li>
                        <img src="images/WS515P/pic-3.png">
                    </li>
                    <li>
                        <img src="images/WS515P/pic-4.png">
                    </li>
                    <li>
                        <img src="images/WS515P/pic-5.png">
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-all Productsummry" id="ProductCanshu">
            <table class="Pro-table">
                <thead>
                    <th colspan="2" class="table-th">处理器</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-bgc">处理器型号</td>
                        <td>Intel® Atom™ Processor D2550
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="table-bgc">浮点运算</td>
                        <td>支持</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">内核数</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">处理器基本频率</td>
                        <td>1.86GHz</td>
                    </tr>
                    <!--  内存-->
                    <thead>
                        <th colspan="2" class="table-th">内存</th>
                    </thead>
                    <tr>
                        <td class="table-bgc">系统内存</td>
                        <td>2GB DDR3</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">可扩展</td>
                        <td>不支持
                        </td>
                    </tr>
                    <tr>
                        <td class="table-bgc">DOM内存
                        </td>
                        <td>4GB Msata(MLC颗粒）</td>
                    </tr>
                    <!--存储设备-->
                    <thead>
                        <th colspan="2" class="table-th">存储设备</th>
                    </thead>
                    <tr>
                        <td class="table-bgc">磁盘槽数量</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">兼容磁盘类型</td>
                        <td>
                            3.5" SATA III / SATA II HDD*5
                        </td>
                    </tr>
                    <tr>
                        <td class="table-bgc">最大内部净总储存容量</td>
                        <td>20 TB (3.5"4TB*5)</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">磁盘热插拔支持</td>
                        <td>不支持</td>
                    </tr>
                    <!--外接端口-->
                    <thead>
                        <th colspan="2" class="table-th">外接端口</th>
                    </thead>
                    <tr>
                        <td class="table-bgc">USB 2.0 端口</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">USB 3.0 端口</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">VGA</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">RJ-45 1GbE 网络孔</td>
                        <td>2 (10/100/1000 Mb/s自适应)</td>
                    </tr>
                    <!--文件系统-->
                    <thead>
                        <th colspan="2" class="table-th">文件系统</th>
                    </thead>
                    <tr>
                        <td class="table-bgc">内部磁盘</td>
                        <td>EXT4</td>
                    </tr>
                    <!--外观-->
                    <thead>
                        <th colspan="2" class="table-th">外观</th>
                    </thead>
                    <tr>
                        <td class="table-bgc">大小</td>
                        <td>250（宽）*170（高）*205（深）mm</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">重量</td>
                        <td>净重3Kg、毛重4.6Kg</td>
                    </tr>
                    <!--其他项目-->
                    <thead>
                        <th colspan="2" class="table-th">其他项目</th>
                    </thead>
                    <tr>
                        <td class="table-bgc">Wake on LAN/WAN</td>
                        <td>不支持</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">CPU风扇</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">系统风扇
                        </td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">电源自动恢复</td>
                        <td>支持(需要bios中开启）</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">定时关机重启</td>
                        <td>支持</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">电源供应器 / 变压器</td>
                        <td>120W</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">AC 输入电压</td>
                        <td>100V 至 240V AC</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">电流频率</td>
                        <td>50/60 HZ, 单频</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">英热单位</td>
                        <td>170 BTU/hr</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">EUP节能模式</td>
                        <td>支持</td>
                    </tr>
                    <!--环境温度-->
                    <thead>
                        <th colspan="2" class="table-th">环境温度</th>
                    </thead>
                    <tr>
                        <td class="table-bgc">工作温度</td>
                        <td>5°C 至 35°C (40°F 至 95°F)</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">存储温度</td>
                        <td>-10°C 至 70°C (15°F 至 155°F)</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">相对湿度</td>
                        <td>5% 至 95% RH</td>
                    </tr>
                    <tr>
                        <td class="table-bgc">保修</td>
                        <td>2年</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="product-all Productsummry productdown" id="ProductDown">
            <ol>
                <li><a target="_blank" href="download/doc/MiniNAS OS V1.0使用说明书.pdf">系统操作说明书</a></li>
                <li><a target="_blank" href="download/doc/WS551p硬件安装说明书.pdf">硬件安装说明书</a></li>
            </ol>
        </div>
        <div class="product-all Productsummry xiaoneng2" id="xiaoneng2">
            <div class="xiao-neng">
                <table class="trans-table" border="0" cellspacing="0" cellpadding="0">
                    <caption>windows系统上传下载(5GB文件)</caption>
                    <tbody>
                        <tr>
                            <td class="table-bgc">RAID模式</td>
                            <td class="table-bgc1">单盘</td>
                            <td class="table-bgc1">RAID1</td>
                            <td class="table-bgc1">RAID0</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="table-bgc">读取</td>
                            <td>111</td>
                            <td>107</td>
                            <td>115</td>
                        </tr>
                        <tr>
                            <td class="table-bgc">写入</td>
                            <td>113</td>
                            <td>114</td>
                            <td>117</td>
                        </tr>
                    </tbody>
                </table>
                <div class="tubiao-xiao">
                    <img src="images/WS515p/1.png">
                </div>
                <table class="trans-table" border="0" cellspacing="0" cellpadding="0">
                    <caption>windows系统上传下载(5000*1M文件)</caption>
                    <tbody>
                        <tr>
                            <td class="table-bgc">RAID模式</td>
                            <td class="table-bgc1">单盘</td>
                            <td class="table-bgc1">RAID1</td>
                            <td class="table-bgc1">RAID0</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="table-bgc">读取</td>
                            <td>56</td>
                            <td>54</td>
                            <td>59</td>
                        </tr>
                        <tr>
                            <td class="table-bgc">写入</td>
                            <td>28</td>
                            <td>29</td>
                            <td>36</td>
                        </tr>
                    </tbody>
                </table>
                <div class="tubiao-xiao">
                    <img src="images/WS515p/2.png">
                </div>
                <table class="trans-table" border="0" cellspacing="0" cellpadding="0">
                    <caption>MAC系统上传下载(5GB文件)</caption>
                    <tbody>
                        <tr>
                            <td class="table-bgc">RAID模式</td>
                            <td class="table-bgc1">单盘</td>
                            <td class="table-bgc1">RAID1</td>
                            <td class="table-bgc1">RAID0</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="table-bgc">读取</td>
                            <td>81</td>
                            <td>83</td>
                            <td>94</td>
                        </tr>
                        <tr>
                            <td class="table-bgc">写入</td>
                            <td>71</td>
                            <td>73</td>
                            <td>86</td>
                        </tr>
                    </tbody>
                </table>
                <div class="tubiao-xiao">
                    <img src="images/WS515p/3.png">
                </div>
                <table class="trans-table" border="0" cellspacing="0" cellpadding="0">
                    <caption>MAC系统上传下载(5000*1M文件)</caption>
                    <tbody>
                        <tr>
                            <td class="table-bgc">RAID模式</td>
                            <td class="table-bgc1">单盘</td>
                            <td class="table-bgc1">RAID1</td>
                            <td class="table-bgc1">RAID0</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="table-bgc">读取</td>
                            <td>30</td>
                            <td>30</td>
                            <td>32</td>
                        </tr>
                        <tr>
                            <td class="table-bgc">写入</td>
                            <td>27</td>
                            <td>26</td>
                            <td>29</td>
                        </tr>
                    </tbody>
                </table>
                <div class="tubiao-xiao">
                    <img src="images/WS515p/4.png">
                </div>
                <div class="test">
                    <h4>测试环境:</h4>
                    <!-- <p>服务器：</p> -->
                    <p>操作系统: MiniNAS</p>
                    <p>硬盘：WD蓝盘500G*2</p>
                    <p>网络环境: 1Gbps LAN;TPLINK TL-WDR7500</p>
                    <!-- <p>客户端 PC：</p> -->
                    <p>全部测试项目: Intel G3220 3.00GHz; 6GB DDRIII; Sandisk 120GB SSD x 1, Realtek PCIe GBE; MTU 1500; Windows 7;</p>
                </div>
            </div>
        </div>
        <!-- problem start -->
        <ul class="product-all Productsummry productproblem clear" id="ProductProblem">
            <li role="tabpanel" class="tab-pane" id="yingjian">
                <span>硬件相关</span>
                <br>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>该产品支持几个盘位？</h4>
                    <p>您好！您好！该产品支持标准硬盘3.5寸*5个。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>最多可以支持多大容量？</h4>
                    <p>您好！最多可以支持20T。主要取决于您使用的硬盘容量大小，目前市面上3.5寸盘最大容量为4T。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>  有内置硬盘吗？</h4>
                    <p>您好！目前销售的产品暂时没有内置硬盘的。如果您需要硬盘，可以选择购买NAS产品套餐组合。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>硬盘接口是SATA3还是SATA2?</h4>
                    <p>您好！硬盘接口是SATA2，但是兼容SATA3接口的硬盘
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>  套餐组合的硬盘是哪个品牌的？质保几年？</h4>
                    <p>您好！3.5寸硬盘是HGST品牌，2.5寸硬盘是三星品牌，质保均为3年。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>支持SSD固态硬盘吗？</h4>
                    <p>您好！不支持SSD。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>  内存可以扩展到多大？</h4>
                    <p>您好！该产品支持1 x 4GB DDR3 800/1066 MHz.
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>  可以自己换内存么？</h4>
                    <p>您好！可以的，更换时请注意内存型号和电压必须匹配。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>该款NAS外壳是什么材质？</h4>
                    <p>您好！前盖板为高强度塑胶材质，机箱本体为高品质钢材。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>外壳表面可以有更多颜色吗？</h4>
                    <p>您好！这款产品目前只有白色。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>支持无线连接吗？</h4>
                    <p>您好！不支持无线连接。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>有USB 3.0接口吗？</h4>
                    <p>您好！有2个USB 3.0接口的。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>2个网口都可以用吗？</h4>
                    <p>您好！通常使用下面的网口。上面的网口是用来做聚合链路的。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>VGA接口是干什么用的？</h4>
                    <p>VGA在MININAS 系统下调试时使用，一般用户不需要。如果用户安装其他系统可以使用。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>不同的指示灯状态代表什么意思？</h4>
                    <p>您好！HDD1~HDD5是硬盘指示灯。当硬盘工作时，指示灯会闪烁；当硬盘不工作时，指示灯常亮。可以通过指示灯来判断安装的硬盘数量。
                    </p>
                </div>
            </li>
            <li role="tabpanel" class="tab-pane " id="chengxu">
                <span>应用程序</span>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>支持多台电脑同时访问该产品吗？</h4>
                    <p>支持的。目前我们系统支持多平台访问，包括PC、笔记本、手机、平板等可以使用浏览器的设备均可访问。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>照片上传支持什么格式的？</h4>
                    <p>目前支持jpg、gif、png、jpeg、bmp照片格式
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>照片中心的照片支持缩略图展示吗？</h4>
                    <p>支持的。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>视频上传支持什么格式的？</h4>
                    <p>目前支持 mp4、rm、rmvb、mpg、mov、avi、wmv、3gp、flash视频格式
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>是否可以连接网络电视机顶盒？</h4>
                    <p>支持的。像市面上流行的天猫盒子、小米盒子以及主流的高清播放器都可以连接播放共享的视频文件。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>添加下载任务后，断开后可以继续下载吗？</h4>
                    <p>系统支持断点继传的。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>能迅雷直接下载吗？</h4>
                    <p>这款产品不支持。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>这款有权限管理功能吗？</h4>
                    <p>请参阅用户手册关于“用户”和“用户群组”的操作说明。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>这个支不支持分配用户和给每个用户不同的权限？</h4>
                    <p>支持的，详细请参阅用户手册关于“用户”和“用户群组”的操作说明。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>用电脑能从这上面直接读取么？从这上面下载到电脑上的速度有多少？</h4>
                    <p>读取和下载速度取决于您使用的网络环境。以下因素均会影响实际传输速度：您的带宽＼电脑网卡＼文件大小（一次传大量的小档，跟一次传一个大档速度不同）。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>这个NAS里面的硬盘，拿到电脑主机上面可以读出资料吗？</h4>
                    <p>不能读出来。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>支持边下载边播放吗？</h4>
                    <p>暂时不支持，功能开发当中，请关注我们后续的版本更新。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>支持何种RAID模式？</h4>
                    <p>支持RAID 0、1、5、6、10、5+hotspare、6+hotspare及10+hotspare。 我们5盘位的设计让 RAID 群组扩充方便又简单。在初始化设定时，您可先使用小容量硬盘来建立 RAID 群组，并随着数据信息日益增加再更换较大容量的硬盘，扩充CMNL5系列智能云中心存储空间。 或者，您可以先使用2块硬盘进行RAID 1的配置，随着您数据量的不断增加，再新增硬盘扩充您的存储空间。所有程序皆可在无须关闭服务器并保有原数据的情况下完成，确保您的数据运行不间断。 弹性的 RAID 组态迁移 档案的重要性可能随着您不同阶段的需求而有所不同。起初您可先为CMNL5系列产品建设单一磁盘模式（无RAID），或者双磁盘模式（RAID0或者RAID1）， 当存储的数据变得越来越重要时，您即可增加硬盘数量，将系统升级至 RAID 5 、RAID 6 或 RAID 10 。所有程序皆可在无须关闭服务器并保有原数据的情况下完成。
                    </p>
                </div>
                <div class="p-click">
                    <h4><span class="glyphicon glyphicon-stop"></span>媒体中心功能有哪些？</h4>
                    <p>我们的媒体中心功能包含：照片中心、音频中心、视频中心、下载中心（支持BT，迅雷，HTTP，FTP等多种下载方式，24小时不间断下载）。 是一个全面的媒体中心。您可以将您需要的媒体信息进行下载、上传、分享，用您所在的网络中的任何一个终端跨平台无障碍的进行操作、查看、播放。
                    </p>
                </div>
            </li>
        </ul>
        <div class="float-side">
            <a class="to-to-top">
            </a>
        </div>
    </div>

    <!--include "public/footer.html"-->