<!DOCTYPE html >
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge，chrome=1">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <link rel="Shortcut Icon" href="images/ico_03.png" type="image/x-icon">
    <script type="text/javascript" src="js/Chart.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="js/unslider.js"></script>
    <link href="style/datouwang.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="style/style.css">
    <script type="text/javascript" src="js/functions.js"></script>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/koala.min.1.5.js"></script>
    <title>上海闻上信息科技有限公司</title>
</head>

<body>
<!-- 导航部分 -->
<div class="mainheader">
    <div class="header">
        <div class="logo-header"><img src="images/logo-header.png"></div>
        <ul class="mainnav">
            <li class="active"><a href="index.html">首页</a></li>
            <li><a>产品信息</a>
                <ul class="subnav choose-tab">
                    <li href="#ProductAll"><a href="products-all.html">全部</a></li>
                    <li href="#ProductNas"><a href="products-all.html#ProductNas">家庭云存储</a></li>
                    <li href="#ProductUdisk"><a href="products-all.html#ProductUdisk">便携式存储</a></li>
                </ul>
            </li>
            <li><a>技术支持</a>
                <ul class="subnav">
                    <li><a href="download/index.html">升级下载</a></li>
                    <li><a target="_blank" href="http://www.winsuntech.cn/app/index.html">app下载</a></li>
                </ul>
            </li>
            <li><a>关于闻上</a>
                <ul class="subnav">
                    <li><a href="about-passion.html">闻上使命</a></li>
                    <li><a href="about-road.html">闻上之路</a></li>
                    <li><a href="about-cult.html">企业文化</a></li>
                    <li><a href="about-contact.html">联系我们</a></li>
                </ul>
            </li>
            <li ><a>招贤纳士</a>
                <ul class="subnav choose-tab">
                    <li href="#pay"><a href="hire.html#pay">薪酬福利</a></li>
                    <li href="#hire"><a href="hire.html#hire">人才招聘</a></li>
                </ul>
            </li>
            <li><a href="ex.html">在线体验</a></li>
            <li id="card"><a href="details.html"><img src="images/card.png" height="32" width="36"><span>兑换入口</span></a></li>
        </ul>
    </div>
</div>